<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for Retrofit to connect to your backend -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/donkeymogicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/donkeymogicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaTrackPlease"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Tasks.TaskActivity"
            android:exported="false"
            android:theme="@style/Theme.PaTrackPlease" /> <!-- 1. LANDING PAGE ACTIVITY (The New Entry Point) -->
        <activity
            android:name=".LandingPage.LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 2. LOGIN ACTIVITY -->
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" /> <!-- 3. REGISTER ACTIVITY -->
        <activity
            android:name=".Register.RegisterActivity"
            android:exported="false" /> <!-- 4. DASHBOARD ACTIVITY -->
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.PaTrackPlease" />
        <receiver
            android:name=".alarms.TaskAlarmReceiver"
            android:exported="false" />
    </application>

</manifest>
